In [1]:
import pandas as pd
import numpy as np
import os

# 지역코드 매칭표

In [4]:
# 지역 코드
gucode = pd.read_csv("데이터/기타반출자료/B022. 서울시 00~14년 집계구별 사업체 통계/2. 파일데이터/0. 지역코드_매칭표/집계구(서울)_지역코드_매칭표.txt")
gucode

       OBJECTID  SIGNGU_CD SIGNGU_NM  ADSTRD_CD ADSTRD_NM      TOT_OA_CD
0         24785      11010       종로구    1101053       사직동  1101053030803
1         25026      11010       종로구    1101053       사직동  1101053030006
2         24786      11010       종로구    1101053       사직동  1101053040001
3         24787      11010       종로구    1101053       사직동  1101053010008
4         24775      11010       종로구    1101053       사직동  1101053020001
...         ...        ...       ...        ...       ...            ...
16226     40495      11250       강동구    1125074        길동  1125074043601
16227     40261      11250       강동구    1125074        길동  1125074020010
16228     40266      11250       강동구    1125074        길동  1125074024101
16229     40334      11250       강동구    1125074        길동  1125074050005
16230     40335      11250       강동구    1125074        길동  1125074050006

[16231 rows x 6 columns]

In [15]:
len(gucode['ADSTRD_NM'].unique()) # 행정동 수 422개

422

# 사용할 칼럼 지정 + 지역코드 매칭표와 결합

In [5]:
data_list2 = []
# 사용할 칼럼 지정
column = ['기준년도','집계구코드','통계항목','통계값']

dir_sector_9 = "데이터/기타반출자료/B022. 서울시 00~14년 집계구별 사업체 통계/2. 파일데이터/2000~2014(2014집계구단위기준)/04사업체/종사자수/9차 대분류"
# 전체 년도를 하나의 데이터프레임에 저장
for file in os.listdir(dir_sector_9):
    file_path = os.path.join(dir_sector_9, file)
    df2 = pd.read_csv(file_path, encoding='utf-8-sig',sep='^',names=column)
    data_list2.append(df2)
company2 = pd.concat(data_list2, ignore_index=True)
company2

         기준년도          집계구코드        통계항목    통계값
0        2006  1101053010001  cp_bem_003   11.0
1        2006  1101053010001  cp_bem_007   42.0
2        2006  1101053010001  cp_bem_008   10.0
3        2006  1101053010001  cp_bem_009   34.0
4        2006  1101053010001  cp_bem_010    9.0
...       ...            ...         ...    ...
4264371  2014  3902062010004  cp_bem_019    NaN
4264372  2014  3902062010005  cp_bem_007   11.0
4264373  2014  3902062010005  cp_bem_009  105.0
4264374  2014  3902062010005  cp_bem_018    NaN
4264375  2014  3902062010005  cp_bem_019    NaN

[4264376 rows x 4 columns]

In [6]:
company_gu2 = pd.merge(company2, gucode, how='inner', left_on='집계구코드', right_on='TOT_OA_CD')
company_gu2 = company_gu2[['기준년도','통계항목','통계값','SIGNGU_NM','ADSTRD_NM','ADSTRD_CD']]
company_gu2

        기준년도        통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
0       2006  cp_bem_003  11.0       종로구       사직동    1101053
1       2006  cp_bem_007  42.0       종로구       사직동    1101053
2       2006  cp_bem_008  10.0       종로구       사직동    1101053
3       2006  cp_bem_009  34.0       종로구       사직동    1101053
4       2006  cp_bem_010   9.0       종로구       사직동    1101053
...      ...         ...   ...       ...       ...        ...
827589  2010  cp_bem_008   NaN       강동구        길동    1125074
827590  2011  cp_bem_008   NaN       강동구        길동    1125074
827591  2012  cp_bem_999   0.0       강동구        길동    1125074
827592  2013  cp_bem_999   0.0       강동구        길동    1125074
827593  2014  cp_bem_999   0.0       강동구        길동    1125074

[827594 rows x 6 columns]

# 결측치 제거

In [7]:
# 결측치 제거
company_gu2.dropna(inplace=True)
company_gu2

        기준년도        통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
0       2006  cp_bem_003  11.0       종로구       사직동    1101053
1       2006  cp_bem_007  42.0       종로구       사직동    1101053
2       2006  cp_bem_008  10.0       종로구       사직동    1101053
3       2006  cp_bem_009  34.0       종로구       사직동    1101053
4       2006  cp_bem_010   9.0       종로구       사직동    1101053
...      ...         ...   ...       ...       ...        ...
827586  2008  cp_bem_999   0.0       강동구        길동    1125074
827587  2009  cp_bem_999   0.0       강동구        길동    1125074
827591  2012  cp_bem_999   0.0       강동구        길동    1125074
827592  2013  cp_bem_999   0.0       강동구        길동    1125074
827593  2014  cp_bem_999   0.0       강동구        길동    1125074

[567086 rows x 6 columns]

In [8]:
company_gu2['통계항목'].unique()

array(['cp_bem_003', 'cp_bem_007', 'cp_bem_008', 'cp_bem_009',
       'cp_bem_010', 'cp_bem_012', 'cp_bem_018', 'cp_bem_019',
       'cp_bem_006', 'cp_bem_013', 'cp_bem_014', 'cp_bem_017',
       'cp_bem_015', 'cp_bem_016', 'cp_bem_011', 'cp_bem_999',
       'cp_bem_004', 'cp_bem_005', 'cp_bem_001', 'cp_bem_002'],
      dtype=object)

# 통계항목 매칭표와 결합

In [9]:
code_sector_mapping_9 = {
    "cp_bem_001": "농업, 임업 및 어업",
    "cp_bem_002": "광업",
    "cp_bem_003": "제조업",
    "cp_bem_004": "전기, 가스, 증기 및 수도사업",
    "cp_bem_005": "하수 처리, 폐기물 재활용 및 환경 복원",
    "cp_bem_006": "건설업",
    "cp_bem_007": "도매 및 소매",
    "cp_bem_008": "운수업",
    "cp_bem_009": "숙박 및 음식점업",
    "cp_bem_010": "방송통신 및 정보서비스업",
    "cp_bem_011": "금융 및 보험업",
    "cp_bem_012": "부동산 및 임대업",
    "cp_bem_013": "전문, 과학 및 기술 서비스업",
    "cp_bem_014": "사업시설 관리 및 사업 지원 서비스업",
    "cp_bem_015": "공공 행정, 국방 및 사회보장 행정",
    "cp_bem_016": "교육 서비스업",
    "cp_bem_017": "보건 및 사회복지 서비스업",
    "cp_bem_018": "예술, 스포츠 및 여가관련 서비스업",
    "cp_bem_019": "협회 및 단체, 수리 및 기타 개인 서비스업",
    "cp_bem_999": "데이터 집계 없음",
}

In [10]:
# 통계항목 매칭표 적용
company_gu2['통계항목'] = company_gu2['통계항목'].map(code_sector_mapping_9)
company_gu2

        기준년도           통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
0       2006            제조업  11.0       종로구       사직동    1101053
1       2006        도매 및 소매  42.0       종로구       사직동    1101053
2       2006            운수업  10.0       종로구       사직동    1101053
3       2006      숙박 및 음식점업  34.0       종로구       사직동    1101053
4       2006  방송통신 및 정보서비스업   9.0       종로구       사직동    1101053
...      ...            ...   ...       ...       ...        ...
827586  2008      데이터 집계 없음   0.0       강동구        길동    1125074
827587  2009      데이터 집계 없음   0.0       강동구        길동    1125074
827591  2012      데이터 집계 없음   0.0       강동구        길동    1125074
827592  2013      데이터 집계 없음   0.0       강동구        길동    1125074
827593  2014      데이터 집계 없음   0.0       강동구        길동    1125074

[567086 rows x 6 columns]

In [11]:
# 데이터 집계가 없는 데이터는 제거
company_gu2 = company_gu2[company_gu2['통계항목']!='데이터 집계 없음']
company_gu2

        기준년도           통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
0       2006            제조업  11.0       종로구       사직동    1101053
1       2006        도매 및 소매  42.0       종로구       사직동    1101053
2       2006            운수업  10.0       종로구       사직동    1101053
3       2006      숙박 및 음식점업  34.0       종로구       사직동    1101053
4       2006  방송통신 및 정보서비스업   9.0       종로구       사직동    1101053
...      ...            ...   ...       ...       ...        ...
827565  2013      부동산 및 임대업   7.0       강동구        길동    1125074
827568  2014        도매 및 소매  24.0       강동구        길동    1125074
827569  2014      숙박 및 음식점업   6.0       강동구        길동    1125074
827570  2014       금융 및 보험업   7.0       강동구        길동    1125074
827571  2014      부동산 및 임대업  21.0       강동구        길동    1125074

[537257 rows x 6 columns]

In [12]:
company_gu2['기준년도'].unique()

array([2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014], dtype=int64)

In [13]:
# 2014년도 데이터만 사용
company_gu2 = company_gu2[company_gu2['기준년도']==2014]
company_gu2

        기준년도                  통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
83      2014               도매 및 소매  44.0       종로구       사직동    1101053
84      2014             숙박 및 음식점업  79.0       종로구       사직동    1101053
85      2014         방송통신 및 정보서비스업   6.0       종로구       사직동    1101053
87      2014      전문, 과학 및 기술 서비스업   7.0       종로구       사직동    1101053
88      2014  사업시설 관리 및 사업 지원 서비스업   7.0       종로구       사직동    1101053
...      ...                   ...   ...       ...       ...        ...
827515  2014        보건 및 사회복지 서비스업   5.0       강동구        길동    1125074
827568  2014               도매 및 소매  24.0       강동구        길동    1125074
827569  2014             숙박 및 음식점업   6.0       강동구        길동    1125074
827570  2014              금융 및 보험업   7.0       강동구        길동    1125074
827571  2014             부동산 및 임대업  21.0       강동구        길동    1125074

[62586 rows x 6 columns]

In [14]:
len(company_gu2['ADSTRD_NM'].unique()) # 상일동, 일원2동

422

# 행정동 맞추기

In [15]:
# 상일동, 일원2동 제거
company_gu3 = company_gu2[~((company_gu2['ADSTRD_NM']=='상일동')|(company_gu2['ADSTRD_NM']=='일원2동'))]
company_gu3

        기준년도                  통계항목   통계값 SIGNGU_NM ADSTRD_NM  ADSTRD_CD
83      2014               도매 및 소매  44.0       종로구       사직동    1101053
84      2014             숙박 및 음식점업  79.0       종로구       사직동    1101053
85      2014         방송통신 및 정보서비스업   6.0       종로구       사직동    1101053
87      2014      전문, 과학 및 기술 서비스업   7.0       종로구       사직동    1101053
88      2014  사업시설 관리 및 사업 지원 서비스업   7.0       종로구       사직동    1101053
...      ...                   ...   ...       ...       ...        ...
827515  2014        보건 및 사회복지 서비스업   5.0       강동구        길동    1125074
827568  2014               도매 및 소매  24.0       강동구        길동    1125074
827569  2014             숙박 및 음식점업   6.0       강동구        길동    1125074
827570  2014              금융 및 보험업   7.0       강동구        길동    1125074
827571  2014             부동산 및 임대업  21.0       강동구        길동    1125074

[62410 rows x 6 columns]

In [16]:
len(company_gu3['ADSTRD_NM'].unique()) # 신사동 때문에 이름은 420개

420

In [17]:
len(company_gu3['ADSTRD_CD'].unique())

421

In [17]:
company_gu3.to_csv("데이터/종사자수.csv",index=False)