In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
# 데이터 불러오기
bus = pd.read_csv("C:/Users/ASUS/Desktop/데이터/서울시버스정류소좌표데이터(2022.08.24).csv",encoding='cp949')
bus # 2022년
# 버스 정류장 위치가 좌표로 명시되어 있어 행정동으로 변환해야 함

         NODE_ID  ARS-ID           정류소명         좌표X        좌표Y
0      100000001    1001        종로2가사거리  126.987786  37.569764
1      100000002    1002    창경궁.서울대학교병원  126.996520  37.579179
2      100000003    1003      명륜3가.성대입구  126.998290  37.582709
3      100000004    1004       종로2가.삼일교  126.987507  37.568582
4      100000005    1005  혜화동로터리.여운형활동터  127.001694  37.586230
...          ...     ...            ...         ...        ...
11162  124000334   25995          우성아파트  127.139326  37.550442
11163  124000333   25996          우성아파트  127.140052  37.550620
11164  124000332   25997           조일약국  127.123477  37.533686
11165  124000331   25998           성내시장  127.125410  37.536199
11166  124000330   25999    천호우체국.로데오거리  127.127354  37.540390

[11167 rows x 5 columns]

In [4]:
# KaKao API를 사용해서 좌표 -> 행정동 변환하는 함수
# API키 유출 하지 마셈요
import requests

def get_admin_region_info(x, y, format='json', input_coord='WGS84', output_coord='WGS84', api_key='ea302f77b2a44a9aecc040db94438f56'):
    url = f"https://dapi.kakao.com/v2/local/geo/coord2regioncode.{format}"
    headers = {'Authorization': f'KakaoAK {api_key}'}
    params = {
        'x': str(x),
        'y': str(y),
        'input_coord': input_coord,
        'output_coord': output_coord
    }

    response = requests.get(url, headers=headers, params=params)
    response_json = response.json()

    return response_json

# Kakao API 호출 및 행정동명 추가
def add_admin_region_name(row):
    result = get_admin_region_info(row['좌표X'], row['좌표Y'])
    if 'documents' in result:
        document = result['documents'][1]
        row['행정동명'] = document['region_3depth_name']
        row['시군구명'] = document['region_2depth_name']
    return row

In [5]:
df = bus.apply(add_admin_region_name, axis=1)

In [6]:
df

,NODE_ID,ARS-ID,정류소명,좌표X,좌표Y,행정동명,시군구명
0,100000001,1001,종로2가사거리,126.987786,37.569764,종로1.2.3.4가동,종로구
1,100000002,1002,창경궁.서울대학교병원,126.996520,37.579179,종로1.2.3.4가동,종로구
2,100000003,1003,명륜3가.성대입구,126.998290,37.582709,혜화동,종로구
3,100000004,1004,종로2가.삼일교,126.987507,37.568582,종로1.2.3.4가동,종로구
4,100000005,1005,혜화동로터리.여운형활동터,127.001694,37.586230,혜화동,종로구
...,...,...,...,...,...,...,...
11162,124000334,25995,우성아파트,127.139326,37.550442,천호1동,강동구
11163,124000333,25996,우성아파트,127.140052,37.550620,암사1동,강동구
11164,124000332,25997,조일약국,127.123477,37.533686,성내2동,강동구
11165,124000331,25998,성내시장,127.125410,37.536199,성내2동,강동구
11166,124000330,25999,천호우체국.로데오거리,127.127354,37.540390,천호2동,강동구

In [7]:
len(df['행정동명'].unique())

435

In [8]:
# 행정동 맞추기
dong = pd.read_csv("C:/Users/ASUS/Desktop/데이터/찐찐행정동420.csv")
dong

     ADSTRD_CD_x ADSTRD_NM  ADSTRD_CD_y
0        1101053       사직동     11110530
1        1101054       삼청동     11110540
2        1101055       부암동     11110550
3        1101056       평창동     11110560
4        1101057       무악동     11110570
..           ...       ...          ...
418      1125070      둔촌1동     11740690
419      1125071      둔촌2동     11740700
420      1125072      암사1동     11740570
421      1125073      천호2동     11740610
422      1125074        길동     11740685

[423 rows x 3 columns]

In [9]:
len(dong['ADSTRD_NM'].unique())

420

In [10]:
# 행정동명 유니크 값을 set으로 만들어서 ^로 겹치지 않는 동만 추출
a = set(df['행정동명'].unique())
b = set(dong['ADSTRD_NM'].unique())

a-b # a에는 있지만 b에는 없는 값 출력
# 버스데이터에만 있는 동
# 개포3동, 과천동, 미사1동, 복정동, 상일1동, 상일2동, 석수1동, 소하1동, 영종동
# 위례동, 장암동, 철산1동, 초이동, 하안3동, 항동

# 금호2.3가동 처럼 .이 포함된건 .과 ·차이 때문에 출력되는 것이라 무시

{'개포3동',
 '과천동',
 '금호2.3가동',
 '면목제3.8동',
 '미사1동',
 '복정동',
 '상계3.4동',
 '상계6.7동',
 '상일1동',
 '상일2동',
 '석수1동',
 '소하1동',
 '영종동',
 '위례동',
 '장암동',
 '종로1.2.3.4가동',
 '종로5.6가동',
 '중계2.3동',
 '철산1동',
 '초이동',
 '하안3동',
 '항동'}

In [11]:
b-a # b에는 있지만 a에는 없는 값 출력

# 행정동코드데이터에만 있는 동
# 일원2동

{'금호2·3가동', '면목3·8동', '상계3·4동', '상계6·7동', '종로1·2·3·4가동', '종로5·6가동', '중계2·3동'}

In [12]:
# 행정동 맞추기
only_bus_dongs = ['개포3동', '과천동', '미사1동', '복정동', '상일1동', '상일2동', '석수1동', '소하1동', '영종동', '위례동', '장암동', '철산1동', '초이동', '하안3동', '항동']

# 주어진 행정동명을 포함하지 않은 행 추출
df = df[~df['행정동명'].isin(only_bus_dongs)]
df
#dong = dong[dong['ADSTRD_NM']!='일원2동']

,NODE_ID,ARS-ID,정류소명,좌표X,좌표Y,행정동명,시군구명
0,100000001,1001,종로2가사거리,126.987786,37.569764,종로1.2.3.4가동,종로구
1,100000002,1002,창경궁.서울대학교병원,126.996520,37.579179,종로1.2.3.4가동,종로구
2,100000003,1003,명륜3가.성대입구,126.998290,37.582709,혜화동,종로구
3,100000004,1004,종로2가.삼일교,126.987507,37.568582,종로1.2.3.4가동,종로구
4,100000005,1005,혜화동로터리.여운형활동터,127.001694,37.586230,혜화동,종로구
...,...,...,...,...,...,...,...
11162,124000334,25995,우성아파트,127.139326,37.550442,천호1동,강동구
11163,124000333,25996,우성아파트,127.140052,37.550620,암사1동,강동구
11164,124000332,25997,조일약국,127.123477,37.533686,성내2동,강동구
11165,124000331,25998,성내시장,127.125410,37.536199,성내2동,강동구
11166,124000330,25999,천호우체국.로데오거리,127.127354,37.540390,천호2동,강동구

In [13]:
len(df['행정동명'].unique())

420

In [65]:
len(dong['ADSTRD_NM'].unique())

420

In [14]:
df = df[['정류소명','좌표X','좌표Y','행정동명','시군구명']]
df

                정류소명         좌표X        좌표Y         행정동명 시군구명
0            종로2가사거리  126.987786  37.569764  종로1.2.3.4가동  종로구
1        창경궁.서울대학교병원  126.996520  37.579179  종로1.2.3.4가동  종로구
2          명륜3가.성대입구  126.998290  37.582709          혜화동  종로구
3           종로2가.삼일교  126.987507  37.568582  종로1.2.3.4가동  종로구
4      혜화동로터리.여운형활동터  127.001694  37.586230          혜화동  종로구
...              ...         ...        ...          ...  ...
11162          우성아파트  127.139326  37.550442         천호1동  강동구
11163          우성아파트  127.140052  37.550620         암사1동  강동구
11164           조일약국  127.123477  37.533686         성내2동  강동구
11165           성내시장  127.125410  37.536199         성내2동  강동구
11166    천호우체국.로데오거리  127.127354  37.540390         천호2동  강동구

[10997 rows x 5 columns]

In [17]:
mask1 = (df['행정동명']=='신사동')&(df['시군구명']=='관악구')
df.loc[mask1,'행정동명']='관악구_신사동'

mask2 = (df['행정동명']=='신사동')&(df['시군구명']=='강남구')
df.loc[mask2,'행정동명']='강남구_신사동'

In [21]:
df['행정동명'].unique()

array(['종로1.2.3.4가동', '혜화동', '교남동', '사직동', '종로5.6가동', '창신1동', '창신2동',
       '숭인2동', '청운효자동', '삼청동', '부암동', '평창동', '무악동', '가회동', '이화동', '창신3동',
       '숭인1동', '보문동', '명동', '회현동', '중림동', '소공동', '장충동', '필동', '광희동',
       '을지로동', '신당동', '황학동', '신당5동', '동화동', '청구동', '다산동', '약수동', '남영동',
       '금호2.3가동', '한강로동', '청파동', '원효로1동', '원효로2동', '용산2가동', '이태원2동',
       '이태원1동', '서빙고동', '한남동', '후암동', '효창동', '이촌1동', '공덕동', '용문동', '보광동',
       '이촌2동', '용답동', '왕십리2동', '왕십리도선동', '마장동', '사근동', '행당1동', '행당2동',
       '응봉동', '금호1가동', '금호4가동', '옥수동', '성수1가1동', '성수1가2동', '성수2가1동',
       '성수2가3동', '송정동', '용신동', '중곡1동', '군자동', '중곡2동', '능동', '구의2동', '광장동',
       '중곡3동', '중곡4동', '구의1동', '구의3동', '자양1동', '화양동', '자양2동', '자양4동',
       '자양3동', '답십리2동', '장안1동', '휘경1동', '휘경2동', '청량리동', '전농1동', '제기동',
       '회기동', '이문1동', '이문2동', '전농2동', '장안2동', '답십리1동', '상봉1동', '상봉2동',
       '중화2동', '망우본동', '묵2동', '묵1동', '중화1동', '면목2동', '면목5동', '면목4동',
       '면목본동', '망우3동', '면목제3.8동', '면목7동', '신내2동', '신내1동', '길음2동', '길음1동',
       '돈암1동', '동선동', '성북동', '삼선동', '월곡1동', '장위1동', '장위3동', '정릉3동',
       '정릉2동', '정릉1동', '종암동', '월곡2동', '석관동', '장위2동', '안암동', '정릉4동',
       '돈암2동', '수유3동', '번1동', '수유1동', '미아동', '송중동', '송천동', '우이동', '쌍문1동',
       '인수동', '수유2동', '번2동', '삼양동', '삼각산동', '번3동', '도봉1동', '도봉2동', '방학1동',
       '쌍문2동', '창5동', '쌍문3동', '창1동', '창2동', '창4동', '방학2동', '방학3동', '쌍문4동',
       '창3동', '공릉1동', '공릉2동', '상계10동', '상계1동', '상계8동', '상계2동', '상계6.7동',
       '상계3.4동', '상계5동', '상계9동', '월계1동', '월계2동', '월계3동', '중계1동', '중계2.3동',
       '중계4동', '중계본동', '하계1동', '하계2동', '수색동', '증산동', '진관동', '불광2동',
       '갈현1동', '불광1동', '대조동', '녹번동', '응암1동', '역촌동', '신사1동', '갈현2동', '구산동',
       '응암3동', '신사2동', '응암2동', '북가좌1동', '남가좌1동', '연희동', '신촌동', '홍은2동',
       '홍은1동', '홍제1동', '홍제2동', '천연동', '충현동', '북아현동', '홍제3동', '북가좌2동',
       '남가좌2동', '도화동', '용강동', '아현동', '합정동', '서교동', '대흥동', '성산2동', '상암동',
       '서강동', '신수동', '염리동', '성산1동', '망원2동', '연남동', '망원1동', '목4동', '목5동',
       '목2동', '신정1동', '목3동', '목1동', '신정6동', '신정2동', '신정7동', '신월2동',
       '신정3동', '신월4동', '신월6동', '고척2동', '신정4동', '신월7동', '신월3동', '신월1동',
       '신월5동', '화곡1동', '신도림동', '염창동', '등촌1동', '등촌2동', '화곡6동', '등촌3동',
       '우장산동', '공항동', '발산1동', '가양1동', '방화2동', '방화1동', '방화3동', '가양3동',
       '화곡본동', '화곡3동', '화곡4동', '화곡2동', '화곡8동', '가양2동', '구로2동', '고척1동',
       '개봉1동', '구로3동', '구로5동', '구로4동', '가리봉동', '오류2동', '수궁동', '가산동',
       '오류1동', '개봉3동', '개봉2동', '구로1동', '독산3동', '독산1동', '독산4동', '독산2동',
       '시흥1동', '시흥5동', '시흥3동', '시흥2동', '시흥4동', '미성동', '문래동', '영등포동',
       '여의동', '대림2동', '대림1동', '신길6동', '신길7동', '도림동', '영등포본동', '당산1동',
       '당산2동', '신길4동', '양평1동', '양평2동', '신길5동', '신길1동', '신길3동', '대림3동',
       '신대방1동', '신대방2동', '대방동', '노량진2동', '노량진1동', '사당2동', '사당1동', '흑석동',
       '상도3동', '상도2동', '상도1동', '사당5동', '사당3동', '사당4동', '상도4동', '조원동',
       '청림동', '남현동', '인헌동', '행운동', '중앙동', '은천동', '신림동', '관악구_신사동', '서원동',
       '청룡동', '낙성대동', '대학동', '성현동', '서림동', '보라매동', '삼성동', '난향동', '난곡동',
       '신원동', '양재1동', '서초2동', '도곡1동', '역삼1동', '서초4동', '반포1동', '논현1동',
       '잠원동', '반포3동', '반포4동', '반포2동', '반포본동', '서초3동', '방배2동', '방배4동',
       '내곡동', '양재2동', '서초1동', '방배본동', '방배1동', '방배3동', '개포4동', '삼성1동',
       '강남구_신사동', '논현2동', '압구정동', '세곡동', '청담동', '삼성2동', '대치1동', '대치2동',
       '대치4동', '역삼2동', '도곡2동', '개포1동', '개포2동', '일원본동', '일원1동', '수서동',
       '잠실6동', '잠실3동', '석촌동', '송파1동', '송파2동', '가락본동', '가락1동', '문정1동',
       '문정2동', '장지동', '풍납1동', '마천1동', '풍납2동', '오금동', '거여2동', '잠실4동',
       '잠실2동', '잠실7동', '잠실본동', '삼전동', '방이2동', '방이1동', '오륜동', '거여1동',
       '마천2동', '가락2동', '길동', '둔촌2동', '성내3동', '천호3동', '성내2동', '강일동',
       '고덕2동', '고덕1동', '명일2동', '명일1동', '암사3동', '암사1동', '암사2동', '천호2동',
       '성내1동', '둔촌1동', '천호1동'], dtype=object)

In [22]:
df.isnull().sum()

정류소명    0
좌표X     0
좌표Y     0
행정동명    0
시군구명    0
dtype: int64

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10997 entries, 0 to 11166
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   정류소명    10997 non-null  object
 1   좌표X     10997 non-null  float64
 2   좌표Y     10997 non-null  float64
 3   행정동명    10997 non-null  object
 4   시군구명    10997 non-null  object
dtypes: float64(2), object(3)
memory usage: 515.5+ KB

In [24]:
df.to_csv('C:/Users/ASUS/Desktop/데이터/버스정류장.csv',index=False)

# 신사동 분리

In [25]:
df = pd.read_csv('버스정류장.csv')
df

                정류소명         좌표X        좌표Y         행정동명 시군구명
0            종로2가사거리  126.987786  37.569764  종로1.2.3.4가동  종로구
1        창경궁.서울대학교병원  126.996520  37.579179  종로1.2.3.4가동  종로구
2          명륜3가.성대입구  126.998290  37.582709          혜화동  종로구
3           종로2가.삼일교  126.987507  37.568582  종로1.2.3.4가동  종로구
4      혜화동로터리.여운형활동터  127.001694  37.586230          혜화동  종로구
...              ...         ...        ...          ...  ...
10992          우성아파트  127.139326  37.550442         천호1동  강동구
10993          우성아파트  127.140052  37.550620         암사1동  강동구
10994           조일약국  127.123477  37.533686         성내2동  강동구
10995           성내시장  127.125410  37.536199         성내2동  강동구
10996    천호우체국.로데오거리  127.127354  37.540390         천호2동  강동구

[10997 rows x 5 columns]

In [26]:
len(df['행정동명'].unique())

421

In [27]:
dong = pd.read_csv('신사동분리버전행정동코드.csv')
dong

     ADSTRD_CD_x ADSTRD_NM  ADSTRD_CD_y
0        1101053       사직동     11110530
1        1101054       삼청동     11110540
2        1101055       부암동     11110550
3        1101056       평창동     11110560
4        1101057       무악동     11110570
..           ...       ...          ...
416      1125070      둔촌1동     11740690
417      1125071      둔촌2동     11740700
418      1125072      암사1동     11740570
419      1125073      천호2동     11740610
420      1125074        길동     11740685

[421 rows x 3 columns]

In [35]:
a = set(df['행정동명'].unique())
b = set(dong['ADSTRD_NM'].unique())
a^b

set()

In [34]:
dong_dic = {
    '금호2.3가동':'금호2·3가동',
    '면목3.8동':'면목3·8동',
    '면목제3.8동':'면목3·8동',
    '상계3.4동':'상계3·4동',
    '상계6.7동':'상계6·7동',
    '종로1.2.3.4가동':'종로1·2·3·4가동',
    '종로5.6가동':'종로5·6가동',
    '중계2.3동':'중계2·3동'
}
# Function to apply the mapping
def apply_mapping(value):
    if value in dong_dic:
        return dong_dic[value]
    return value
df['행정동명'] = df['행정동명'].apply(apply_mapping)

In [38]:
df1 = pd.merge(df,dong,how='inner',left_on='행정동명',right_on='ADSTRD_NM')
df1

,정류소명,좌표X,좌표Y,행정동명,시군구명,ADSTRD_CD_x,ADSTRD_NM,ADSTRD_CD_y
0,종로2가사거리,126.987786,37.569764,종로1·2·3·4가동,종로구,1101061,종로1·2·3·4가동,11110615
1,창경궁.서울대학교병원,126.996520,37.579179,종로1·2·3·4가동,종로구,1101061,종로1·2·3·4가동,11110615
2,종로2가.삼일교,126.987507,37.568582,종로1·2·3·4가동,종로구,1101061,종로1·2·3·4가동,11110615
3,광화문,126.978091,37.570296,종로1·2·3·4가동,종로구,1101061,종로1·2·3·4가동,11110615
4,종로1가,126.981067,37.570072,종로1·2·3·4가동,종로구,1101061,종로1·2·3·4가동,11110615
...,...,...,...,...,...,...,...,...
10992,성덕중고등학교,127.143423,37.550713,천호1동,강동구,1125061,천호1동,11740600
10993,강동농협,127.135843,37.548439,천호1동,강동구,1125061,천호1동,11740600
10994,천호초교입구사거리,127.133785,37.545956,천호1동,강동구,1125061,천호1동,11740600
10995,굽은다리역,127.142299,37.544321,천호1동,강동구,1125061,천호1동,11740600
10996,우성아파트,127.139326,37.550442,천호1동,강동구,1125061,천호1동,11740600

In [39]:
df1.to_csv('버스정류장.csv',index=False)
# 421 -> 420 행정동 코드 내보내기
#dong.to_csv('C:/Users/shjo/Desktop/찐찐행정동420.csv',index=False)